[run]
source = app
omit = app/config/settings/*
concurrency = thread, greenlet

[report]
exclude_lines =
    pragma: no cover
    ^import .*
    ^from .* import .*
    ^def __repr__
show_missing=True
