# == Gitignore Files == #

# - Virtual Environment
venv/
.venv/

# - Env Value File
.env*
!.env.example

# - Log Files
logs/
*.log

# Test & Coverage
.coverage
.pytest_cache/
htmlcov/


# - Editor Setting Files (Pycharm, VSCode ...)
.idea/
.vscode/

# - Cache Files
__pycache__/
*.pyc

# - MacOS System Files
.DS_Store
