body {
  background-color: var(--color-bg-white);
  font-family: 'Do Hyeon', cursive;
}

img {
  object-fit: cover
}

.center {
  text-align: center;
}

.margin-auto {
  margin: 0px auto;
}

.button-common {
  display: inline-block;
  height: 40px;
  border-radius: 1em;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.submit-button {
  display: inline-block;
  height: 50px;
  border-radius: .8em;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.button-black {
  background: var(--color-dark-gray);
  color: var(--color-bg-white);
}

.button-gray {
  background: var(--color-shadow-gray);
  color: var(--color-bg-white);
}

.button-white {
  background: var(--color-bg-white);
  color: var(--color-shadow-gray);
}
