:root {
  --color-black: #000000;
  --color-dark-gray: #323232;
  --color-shadow-gray: #646464;
  --color-gray: #969696;
  --color-steel-gray: #BEBEBE;
  --color-light-gray: #DCDCDC;
  --color-bg-white: #F5F5F5;
  --color-white: #FFFFFF;
  --color-red: #E84545;
  --color-light-orange: #FFD699;
  --color-orange: #FF9800;
}
