.document-content {
  font-family: Montserrat, sans-serif;
}

.content-head {
  margin: 50px 0px;
}

.register-title {
  font-size: 20px;
}

.document-title {
  font-size: 28px;
  font-weight: 400;
}

.main-container {
  width: 320px;
}

.input-section {
  width: 300px;
  margin: 15px auto;
  border: 1px solid var(--color-steel-gray);
  border-radius: .5em;
  background-color: var(--color-white);
  text-align: center;
}

.input-section input {
  width: 290px;
  height: 45px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 18px;
  outline-style: none;
  text-indent: 10px;
}

.message-section {
  height: 45px;
  color: var(--color-red);
  font-size: 13px;
}

.submit-button-long {
  width: 300px;
}

.submit-button-small {
  width: 140px;
  margin: 0px 5px;
}

.redirect-container {
  width: 320px;
}

.link-section {
  margin: 20px 40px;
  font-size: 14px;
  text-align: right;
}
