{% extends "base.html" %}

{% block style %}
<link type="text/css" href="{{ url_for('static', path='/css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', path='/js/ajax/auth.js') }}"></script>
<script src="{{ url_for('static', path='/js/components/home.js') }}"></script>
{% endblock %}

{% block content %}
<div class="content">
  <div class="content-head center">
    <div class="title">
      <h1>맛스타그램</h1>
    </div>
    <div class="description">
      <p>지도에서 나만의 맛집을 추가하고 관리하자!</p>
    </div>
  </div>
  <div class="main-container margin-auto">
    <div class="input-section">
      <input id="input-user-email" type="email" placeholder="E-mail" onkeyup="onkeyupLogin()">
    </div>
    <div class="input-section">
      <input id="input-password" type="password" placeholder="Password" onkeyup="onkeyupLogin()">
    </div>
    <div class="message-section center">
      <div class="exception-message"></div>
    </div>
    <div class="button-section center">
      <div class="submit-button button-black submit-button-long">
        <div id="button-home-login">로그인</div>
      </div>
    </div>
  </div>
  <div class="redirect-container margin-auto">
    <div class="link-section">
      <a href="/register">아직 계정이 없으신가요?</a>
    </div>
    <div class="link-section">
      <a href="/map">둘러보기</a>
    </div>
  </div>
</div>
{% endblock %}
