{% extends "base.html" %}

{% block style %}
<link type="text/css" href="{{ url_for('static', path='/css/map.css') }}" rel="stylesheet">
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/ol@v7.1.0/dist/ol.js"></script>
<script src="{{ url_for('static', path='/js/map.js') }}"></script>
<script src="{{ url_for('static', path='/js/ajax.js') }}"></script>
<script>requestDisplayPlaces();</script>
{% endblock %}

{% block content %}
<div id="map" class="map" style="height: 100%; width: 100%;"></div>
<div id="place-info" class="place-info" style="display:none">
  <div class="place-info-component">
    <div class="place-info-section image-section">
      <img src="{{ url_for('static', path='/img/place-blank.jpg') }}" width="120">
    </div>
    <div class="place-info-section">
      <div id="place-title" class="place-title">
        <p></p>
      </div>
      <div id="place-description" class="place-description">
        <p></p>
      </div>
      <div id="place-tags" class="place-tags"></div>
    </div>
    </div>
  </div>
</div>
<div class="menubar">
  <div class="menubar-button">
    <div class="menubar-button-section">
      <div id="button-logout" onclick="Logout()">로그아웃</div>
    </div>
    <div class="menubar-button-section">
      <div>리스트</div>
    </div>
    <div class="menubar-button-section">
      <div>내 정보</div>
    </div>
  </div>
</div>
{% endblock %}
