{% extends "base.html" %}

{% block style %}
<link type="text/css" href="{{ url_for('static', path='/css/map.css') }}" rel="stylesheet">
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/ol@v7.1.0/dist/ol.js"></script>
<script src="{{ url_for('static', path='/js/map.js') }}"></script>
<script src="{{ url_for('static', path='/js/ajax.js') }}"></script>
<script>requestDisplayPlaces({});</script>
{% endblock %}

{% block content %}
<div id="map" class="map" style="height: 100%; width: 100%;"></div>

<!-- 식당 정보 영역 -->
{% include "map/place-info.html" %}

<!-- 하단 메뉴바 영역 -->
{% include "map/menubar.html" %}

<!-- 필터 영역 -->
{% include "map/filter.html" %}

{% endblock %}
