<div id="filter" class="filter margin-auto" style="display:none">
  <div class="filter-component">
    <div class="filter-tag-content">
      <div id="filter-tag-list" class="tag-content-flex"></div>
    </div>
    <div class="filter-button margin-auto">
      <div class="filter-button-section button-common button-black">
        <div id="button-apply-filter">적용</div>
      </div>
      <div class="filter-button-section button-common button-gray">
        <div id="button-cancel-filter">취소</div>
      </div>
    </div>
  </div>
</div>
