<div id="my-place" class="my-place full" style="display:none">
  <div class="my-place-component margin-auto">
    <div class="my-place-title">
      <p>내 맛집 리스트</p>
    </div>
    <div class="my-place-button-content center">
      <div class="my-place-button button-common button-white">
        <div id="button-profile">내 정보</div>
      </div>
      <div class="my-place-button button-common button-white">
        <div id="button-register-place">장소 등록</div>
      </div>
    </div>
    <div id="my-place-content" class="my-place-content">
      <!-- 맛집 리스트 로딩 영역 -->
    </div>
  </div>
  <div class="bottom-component">
    <div class="my-place-exit center">
      <div class="profile-button-section button-common button-black">
        <div id="button-close-my-place">닫기</div>
      </div>
    </div>
  </div>
</div>
