<div id="place-info" class="place-info margin-auto" style="display:none">
  <div class="place-info-component">
    <div class="place-info-section image-section">
      <img id="place-info-image" src="{{ url_for('static', path='/img/place-blank.jpg') }}" width="120" height="120px">
    </div>
    <div class="place-info-section">
      <div id="place-title" class="place-title">
        <p></p>
      </div>
      <div id="place-description" class="place-description">
        <p></p>
      </div>
      <div id="place-tags" class="place-tags"></div>
    </div>
  </div>
</div>
